In [2]:
from bs4 import BeautifulSoup
import requests

In [8]:
import pandas as pd
import numpy as np

In [9]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2019&land_id=&ausrichtung=&spielerposition_id=&altersklasse=&leihe=&w_s="
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [10]:
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})


Players[0].text

'João Félix'

In [11]:
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

Values[0].text

'£113.40m'

In [12]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

             Players    Values
0         João Félix  £113.40m
1  Antoine Griezmann  £108.00m
2        Eden Hazard   £90.00m
3      Harry Maguire   £78.30m
4   Matthijs de Ligt   £76.95m